:root {
    --color-primary: #5c5f6f;
    --color-secondary: #6187e8;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
    height: auto;
}

.imagem-cabecalho {
    border: var(--color-text) 4px solid;
    border-radius: 20%;
}


/* Seção de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px 64px 64px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
    text-shadow: 4px 4px 8px #000000;
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-tertiary);
    margin: 10px 0;
    text-align: center;
    text-shadow: 4px 4px 8px #534d4d;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
    border-style: inset;
    background-color: #b3d9f8;
}

.button-container {
    width: 300px;
    justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botão */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px outset #000;
    border-color: #000000 #000000 #42a4f4 #42a4f4;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(18, 18, 18, 0.3);
    cursor: pointer;
}

button:active {
    box-shadow: none;
    transform: translateY(2px);
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #a1a1a1;
}

/* Listas */
ul {
    list-style-type: none;
    color: #000000;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.name-list {
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding-left: 20px;
    border: 2px solid #000;
    border-radius: 8px;
    background-color: #b3d9f8;
    border-style: outset;
}

.result-list {
    margin-top: 15px;
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

/* Botão de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}
